body {
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
}

#car {
  position: absolute;
  top: -16px;
  left: -8px;
  width: 16px;
  height: 32px;
}
